@font-face{
    font-family: "BallPill";
    src: url("font/BallPill-regular.otf") format("opentype");
    }

@font-face{
    font-family: "Karelia";
    src: url("font/Karelia-Outtakes.ttf") format("opentype");
    }

@font-face{
    font-family: "FaktNormal";
    src: url("font/FaktProNormal.otf") format("opentype");
    } 

  @font-face{
    font-family: "FaktLight";
    src: url("font/FaktProLight.otf") format("opentype");
    } 

html, body {
    padding: 0vw;
    margin: 0vw;
}

body{
    margin: 0vh;
    /* font-family: FaktNormal; */
    font-size: 1.6vw;
    font-weight: 300;
    line-height: normal;
    overflow-x: hidden;
    color: white;
}

:root{
  --arancione: #fe5000;
  --piogge: #a8f9ff;
}


/*********************** START INTRO *************************/

.sfondo_nero{
  color:#fff;
  background-color: #000;
}

.row1{
  padding-left:1vw;
  padding-right:1vw;
}

.column1 {
  position: relative;
  padding:2vw;
}

.intro {
  font-family: Karelia;
  padding: 1vw;
  margin: 0px;
  position:absolute;
  top:0px;
  z-index: 1;
}


/*classe per tutti i video */
.video-container {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

.video {
width: 100%;
height: 100vh; 
position: absolute;
object-fit: cover;
right:0;
bottom:0;
z-index: -1;
} 

/*mezz'aria*/
.video-container .progetto {
position: relative;

} 



/*titoli sezioni */
h1{
font-family: Karelia;
font-size: 17vw;
color: black;
/* text-decoration: underline var(--arancione);
text-decoration-thickness: from-font; */
z-index:2;
}

/*payoff*/
.caption p {
font-family: Karelia;
font-size: 4vw;
color:black;
padding-left: 1vw;
}

/*freccia*/
.freccia {
  padding-left:1vw;
  padding-top: 25vh;
}

/*freccia*/
h2{
  font-family: BallPill;
  font-weight: 600;
  font-size: 6vh;  
  color:black;
}

/***********MENU**********/
/*menu fisso iniziale*/
.menu-fixed{
  display:inline-block;
  padding-top:2vw;
  padding-left: 1vw;
}

.menu-fixed a {
  color: var(--arancione);
  font-size: 1.6vw;
  text-decoration:none;
  display: block;
}

.menu-scroll {
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 1;
    padding-top: 2vw;
    font-size: 3vw;
}

/*pulsante piu*/
.plusmenu{
  font-family: BallPill;;
  background-color: white;
  border-radius: 100vw;
  border: 2px solid black;
  height: 70px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;
  transition: all 1s ease;
}

.plusmenu-on{
font-size: 50px;
transform: rotate(45deg);
}

.plusmenu.visible {
  opacity: 1;
  pointer-events: all;
}
  
/*menu del pulsante piu*/
.menu-text {
    margin-bottom: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear;
    padding: 2vw;
}

.menu-text.visible {
    opacity: 1;
    pointer-events: all;

    border-radius: 2.5vw;
    border-width: 1px;
    background-color: black;
}

.menu-text a {
  color:  var(--arancione);
  font-size: 1.5vw;  
  text-decoration:none;
  display: block;
}

a:hover{
  color: white;
}


/*titoli paragrafi*/
h3{
  font-family: Karelia;
  font-size: 5vw;
  font-weight: 600;
  line-height: 5.5vw;
}

p {
  font-family: FaktLight;
  font-weight: 100;
}

.intro, .row1, .row2, .bologna, .about-us, .footer-mezzaria{
    height:100vh;
}


/*per tutte le immagini inserite a dx*/
.image{
  position: relative;
  width: 100%;
  height: 100vh;
}

.img{
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100vh;
 }

.img_overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(254, 80, 0, 0.8);
  display: flex; /* centra la didascalia solo in web e non in mobile*/ 
  flex-direction: column;
  align-items: center;
  justify-content:center;
 opacity: 0;
}

.img_overlay:hover{
  opacity:1;
  transition: opacity 0.3s linear;
}


.playground.didascalia{
  padding-left: 3vw;;
}

/*didasclia sopra le immagini*/
.didascalia{
  color: black;
  position: absolute;
  font-size: 1.9vw;
  /* font-family: FaktNormal; */
}


.didascalia-mobile{
  display:none;
}


/***********************START QUALITA DELL'ARIA *************************/
.sfondo_bianco{
  color: black;
  background-color: white;
}

/*colonna per parte di Porta San Felice*/
.column3{
  position: relative;
  padding:1vw;
}

/*testo anno qualità dell'aria*/
h5{
  font-family: karelia;
  font-size: 8.5vw;
  color:white;
  text-align: center;
}

.text-air{
  font-size: 3.8vh;
  margin-top: 1vh;
}

.text-air p {
  color:var(--arancione)
  }


 .button-piogge{
  background-color: black;
  border-color: var(--piogge);
  color: white;
  border:1px solid var(--piogge);
  border-radius: 30px;
  text-align: center;
  font-family: FaktLight;
  text-decoration: none;
  width: 22vw;
  padding: 0.7vw 1vw 0.5vw 1vw;
  margin-top: 2vh;
  display: block;
}

.button-piogge:hover{
  background-color: var(--piogge);
  color: black;
}

.button-piogge.active{
  background-color: var(--piogge);
  color: black;
}



/*********************** START CLARA *************************/
/*dateClara*/
h6{
  font-family: karelia;
  font-size:20vw;
   writing-mode: vertical-lr;
  margin-right:1vw;
  transform: rotate(180deg);
}


/*fonti*/
.title-fonti p{
  font-family: Karelia;
  font-size: 2vw;
  font-weight: 600;
  line-height: 5.5vw;
}


/*VIDEO FINALE*/

.video-installazione{
position: absolute; top:52%; left:50%;
transform: translate(-50%,-50%);
  width: 80%;
  height: 80vh;

}


/******************************************/
/*scrollama2*/

.scrolly-section {
    position: relative;
    display: flex;
    /* background-color: #f3f3f3; */
    padding: 1rem;
  }

  /* non cancellare, è necessaria per la parte mobile! */
  /* .scrolly-section > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  } */
    
    /* scroll 1-4 sx*/
  article {
    position: relative;
    padding: 0 1rem;
    /* max-width: 20rem; */
  }

    /* scroll 1-4 dx*/
  figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /*possiamo aggiungere un fade?*/
    /* background-color: #8a8a8a; */
    z-index: 0;
  }

    /*questo è solo lo stile dello scroll dx, funziona anche senza*/
  /* figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;

  } */

    /*colore scroll sx disattivato*/
  .step {
    margin: 0 auto 2rem auto;
    color: #fff;
  }


  .step:last-child {
    margin-bottom: 0;
  }

    /*colore scroll sx attivato*/
  .step.is-active {
    background-color: black;
    color: #3b3b3b;
  }

    /*questo è solo lo stile dello scroll sx, funziona anche senza*/
  .main-clara .step p {
    padding: 1rem;
    font-size: 2vh;
  }

  .main-air .step p {
    padding: 1rem;
    font-size: 4vh;
  }

  .dataviz {
    display: none;
    position: relative;
  }

  .dataviz .dataviz-no-piogge {
    display: block;
  }

  .dataviz .dataviz-piogge {
    display: none;
  }

  .dataviz.piogge .dataviz-no-piogge {
    display: none;
  }

  .dataviz.piogge .dataviz-piogge {
    display: block;
  }

  .dataviz.active {
    display: block;
  }

  .figure-clara{
    padding-bottom:15px;
  }





/******************************************************************/
/*scrolly columns*/

.title{
  /*padding-left: 20px;*/
  padding-right: 1vw;
  padding-left: 1vw;
}

.text{
  padding-top: 3vh;
  padding-right: 1vw;
  padding-left: 1vw;
}

.title-fonti{
  font-size: 3vw;
  padding-right: 1vw;
  padding-left: 1vw;
}

.text-fonti{
  font-size: 1vw;
  padding-right: 1vw;
  padding-left: 1vw;
}

.footer{
  position: absolute;
  bottom: 6vw;
}

.scrolly {
  position: relative;
  display: flex;
}

.scrollable-column {
  /* width: 50vw; */
  font-size: 4vh;;
}

.sticky-column {
  /* width: 50vw; */
  height: 100vh;
  position: sticky;
  top: 0px;
 /* background-color: black; */
}

.sticky-column p {
  margin: 0px;
  overflow-x: hidden;
}

.sfondo_nero .step {
  background-color: black;
  color: white;
  height: 100vh;
}

.sfondo_bianco .scrollable-column .step {
  background-color: white;
  color: black;
  height: 100vh;
}

.sfondo_bianco .scrolly-air .step {
  background-color: black;
  height: 100vh;
}

 .step.is-active {

  color:white;
}

.step p {
  padding: 20px;
  /* font-size: 20px; */
}

.img2{
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.mini-infografiche{
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-mini-infografiche{
  position: relative;
  width: 90%;
  height: 100vh;
}

.img3{
  position: relative;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.img5{
  position: relative;
  width: 100%;
  object-fit: cover;
}

.dataviz-piogge {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}

.subtitle_antropiche{
  padding-top: 30px;
}

.daviz_fonti_naturali{
  font-weight: 200;
  color: #b8b8b8;
  font-size: 5vh;
}

.dataviz-mobile{
    display:none;
}

.dataviz-desktop{
    display: block;
}

/************************** VERSIONE MOBILE *********************/

@media screen and (max-width: 992px) {
  
  .dataviz-mobile{
    display:block;
  }

  .dataviz-desktop{
    display: none;
  }

  .dataviz .dataviz-mobile-no-piogge {
    display: block;
  }

  .dataviz .dataviz-mobile-piogge {
    display: none;
  }

  .dataviz.piogge .dataviz-mobile-no-piogge {
    display: none;
  }

  .dataviz.piogge .dataviz-mobile-piogge {
    display: block;
  }

  .article-air {
    width: 0px;
    overflow: hidden;
    padding: 0;
  }

  .article-air .step{
    width: 0vw;
  }

  .article-air .step.step.is-active{
    width: 0vw;
  }

  h1{
    font-size: 20vw;
    /* padding-top: 2vh;
    padding-right: 1vw;
    padding-left: 3vw; */
  }
  
  h4{
    font-size: 20vw;
  }

  .caption p {
    font-size: 6vw;
  }

  h3{
    font-size: 10vw;
    line-height: 12vw;
  }

  body{
    font-size: 4.5vw;
  }
  
  .intro{
    height: 80vh;
  }

  .didascalia {
  font-size: 4vw;
  display:none;
  }

  #canvasForHTML{
    height: 90vh;
  }

  .p5Canvas {
    height: 90vh !important;
  }

  .title {
    padding-top: 5vh;
    padding-right: 10vw;
    padding-left: 7vw;
}

  .text {
    padding-top: 7vw;
    padding-left: 7vw;
    padding-right: 10vw;
  }

  .menu-fixed{
    padding-left: 4vw;
  }

  .menu-scroll a{
    font-size:6vw;
    background-color: #000;
  } 

  .menu-pm10{
    height:0px;
  }
  
  .didascalia-mobile{
    display:block;
    color: var(--arancione);
    font-size: 4vw;
  }

  .menu-text {
    padding: 4vw;
  }

  .button-piogge {
    width: 90vw;

  }


  /* non cancellare, è necessaria per la parte mobile! */
  /* .scrolly-section > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  } */
  .article-clara{
    width: 0px;
    padding: 0;
  }

.img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 20vh;
}

.img2 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-mini-infografiche {
  position: relative;
  width: 91%;
  height: 100vh;
  padding-left: 6vw;
}

.text-fonti {
  font-size: 3vw;
  padding-right: 4vw;
  padding-left: 4vw;
}

.text-fonti.finale{
  margin-bottom: 40vw;
}

.title-fonti p{
  font-size: 8vw;
}

.img.autori {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 60vh;
}
.img.bologna {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 25vh;
}

.img.pm10 {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 35vh;
}
/* 
.img5{
  height: 95vh;
} */

.video-installazione{
  height: 120vh;
  top:0;
}

  h5{font-family: karelia;
      font-size: 19vw;
      color: black;
      text-align: center;
  }
  .text-air {
    padding-left: 4vw;
    font-size: 3.5vh;
    margin-top: 1vh;
  }
}

/* Scrollare la pagina fino all'inizio con click */
.scrolltotop {
	float: right;
	background-color: white;

  font-family: BallPill;;
  border-radius: 100vw;
  border: 2px solid black;
  height: 70px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity:0;
  transition: all 1s ease;
}

.scrolltotop.visible {
  opacity: 1;
  pointer-events: all;
}

.blocco{
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  padding-top: 2vw;
  display:inline-block;
}

.article-air{
  background-color: #000;
}

.main-air .article-air .step{
  height: 100vh;
}

.footer{
  background-color: #fe5000;
  height:100vh;
  position: absolute;
  bottom:0px;
}

.img6{
  width:35%;
  display:inline;
}

.row01, .row02, .row03, .row04{
  height:25vh;
}

.text-fonti{
  font-family: FaktNormal;
}

.text-fonti a:link{
  color:black;
}

.text-fonti a:hover{
  color:white;
}
.text-fonti a:visited{
  color:black;
}
/* 
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - */

.footer-sfondo{
  background-color: #fe5000;
}